body {
  background-color: blue;
  color: white;
  font-family: Papyrus, "Comic Sans MS", cursive;
}
p {
  border: 2px dashed cyan;
  padding: 10px;
  margin: 10px auto;
  width: 80%;
  font-size: 70%;
}
h1 {
  text-shadow: 2px 2px 5px yellow;
}
h2 {
  text-shadow: 2px 2px 5px yellow;
}

a {
  color: #1e99ff;           
  text-decoration: none;    
  font-weight: bold;        
  transition: color 0.3s;
}